# Importar linrerias

In [2]:
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import (
    cross_val_score, KFold
)

# Importar Librerias

In [3]:
dataset = pd.read_csv("../data/felicidad.csv")
dataset

,country,rank,score,high,low,gdp,family,lifexp,freedom,generosity,corruption,dystopia
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

# Features

In [6]:
X = dataset.drop(["country", "score"], axis=1)
y = dataset["score"]

In [10]:
model = DecisionTreeRegressor()
score = cross_val_score(model, X,y, scoring="neg_mean_squared_error", cv=3) # cv -> Cantidad de pliegues
print(np.abs(np.mean(score)))

0.5583628579000334

# Croos Validation

In [13]:
kf = KFold(n_splits=3, shuffle=True, random_state=42)

for train, test in kf.split(dataset):
    print("Train \n")
    print(train)
    print("Test \n")
    print(test)
    print("="*20)

Train

[  0   1   2   3   4   5   6   7   8  10  13  14  16  17  20  21  23  25
  28  32  33  34  35  37  38  39  40  41  43  44  46  47  48  49  50  52
  53  54  57  58  59  61  62  63  64  67  70  71  72  73  74  77  80  83
  87  88  89  91  92  94  97  98  99 100 101 102 103 104 105 106 107 108
 110 111 112 113 114 115 116 120 121 123 125 127 128 129 130 132 134 135
 136 139 140 143 144 145 146 148 149 150 151 152 154]
Test

[  9  11  12  15  18  19  22  24  26  27  29  30  31  36  42  45  51  55
  56  60  65  66  68  69  75  76  78  79  81  82  84  85  86  90  93  95
  96 109 117 118 119 122 124 126 131 133 137 138 141 142 147 153]
====================
Train

[  1   2   3   6   8   9  11  12  13  14  15  17  18  19  20  21  22  24
  26  27  29  30  31  36  37  38  42  45  48  50  51  52  54  55  56  57
  58  59  60  63  65  66  68  69  71  72  74  75  76  78  79  81  82  83
  84  85  86  87  88  89  90  91  92  93  95  96  99 100 102 103 106 107
 109 112 115 116 117 118 119 120 121 122 124 126 128 129 130 131 132 133
 135 137 138 139 140 141 142 145 147 149 152 153 154]
Test

[  0   4   5   7  10  16  23  25  28  32  33  34  35  39  40  41  43  44
  46  47  49  53  61  62  64  67  70  73  77  80  94  97  98 101 104 105
 108 110 111 113 114 123 125 127 134 136 143 144 146 148 150 151]
====================
Train

[  0   4   5   7   9  10  11  12  15  16  18  19  22  23  24  25  26  27
  28  29  30  31  32  33  34  35  36  39  40  41  42  43  44  45  46  47
  49  51  53  55  56  60  61  62  64  65  66  67  68  69  70  73  75  76
  77  78  79  80  81  82  84  85  86  90  93  94  95  96  97  98 101 104
 105 108 109 110 111 113 114 117 118 119 122 123 124 125 126 127 131 133
 134 136 137 138 141 142 143 144 146 147 148 150 151 153]
Test

[  1   2   3   6   8  13  14  17  20  21  37  38  48  50  52  54  57  58
  59  63  71  72  74  83  87  88  89  91  92  99 100 102 103 106 107 112
 115 116 120 121 128 129 130 132 135 139 140 145 149 152 154]
====================